
/* 2x2 grid https://codepen.io/MattWindle/pen/perZRG */
container {
  margin: 20px auto;
  width:600;
  height:400px;
  background-color:#fff;
  display:grid;
  grid-template-columns: 300px 300px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align:center;
}
box {
  background-color:#333;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
	flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
}

header {
	font-size:20px
}

unit {
	font-size:20px
}

.green {
	background-color:darkgreen
}
.red {
	background-color:darkred
}
